{% extends 'base.html' %}
{% block body %}
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{ product.img.url }}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{ product.title }}</h5>
            <p class="card-text">{{ product.desc }}</p>
            <button class="btn btn-primary btn-block mb-4">Rs. {{ product.price }}</button>
            <form action="{% url 'confirmdelete' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input type="number" name="product_id" style="visibility: hidden" value="{{ product.id }}">
                    </div>
                <br>
                <p>Are you sure you want to delete this item?</p>
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>

        </div>
    </div>
{% endblock body %}
